/* purgecss start ignore */
@font-face {
  font-family: "icomoon";
  src: url("/fonts/icomoon.eot?angnyg");
  src: url("/fonts/icomoon.eot?angnyg#iefix") format("embedded-opentype"),
    url("/fonts/icomoon.ttf?angnyg") format("truetype"),
    url("/fonts/icomoon.woff?angnyg") format("woff"),
    url("/fonts/icomoon.svg?angnyg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-line:before {
  content: "\e900";
}
.icon-phone:before {
  content: "\e942";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-facebook2:before {
  content: "\ea91";
}

.scrollTop {
  position: fixed;
  width: 40px;
  bottom: 100px;
  height: 20px;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5;
}

.scrollTop:hover {
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
/* purgecss end ignore */
